body {
	background-color: #e8e2e2;
  }
h3{
	
	text-align:center;
	color:red;
}

div{
width: 800px;
margin: auto;
height:500px;
border: 2px solid whitesmoke;
border-radius: 12px;
padding: 5px;
background-color:white;

font-family:Lato,sans-serif;
font-size:medium;

}
select{
	padding: 5px;
	font-size: 16px;
	color: black;
	background-color: #e8e2e2;
	border: none;
	
}
option{
	background-color:black;
	color:black;
}
table{
	width: 100%;
}
.bar-container{
	text-align: center;
width: 400px;
margin: auto;
height:500px;
border: 2px solid whitesmoke;
border-radius: 12px;
padding: 5px;
background-color:white;
font-family:Lato,sans-serif;
font-size:medium;

}
.btn7{
	color: antiquewhite;
	text-align: center;
	border: 1px solid #3498db;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	justify-content: center;
	display: flex;
	align-items: center;
}
.container{
width: 500px;
margin: auto;
height:500px;
border: 2px solid whitesmoke;
border-radius: 12px;
padding: 5px;
background-color:white;

font-family:Lato,sans-serif;
font-size:medium;
}
s
    body{
        margin: 0;
        padding: 0;
    }
    h1{
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-size: 30px;
    text-align: center;
}
    .container{
        text-align: center;
        margin-bottom: 360px;
        height: 350px;

    }
    .btn{
        border: 1px solid #3498db;
        background: none;
        padding: 10px 20px;
        font-size: 20px;
        font-family: "montserrat";
        cursor: pointer;
        margin: 10px;
        transition: 0.8s;
    }
    .btn1,.btn2{
        color: #3498db;
        font-size: medium;
    }
    .btn3,.btn4{
        color: #fff;
        font-size: medium;
    }
    ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color: #333;
         margin-bottom: 10px;
         height: 100px;
    }

    li {
         float:right;
         display: flex;
         font-size: 20px;
    }

    li a {
         display: block;
         color: white;
         text-align: top;
         padding: 14px 16px;
         text-decoration: none;
         font-size: medium;

    }

    li a:hover {
         background-color: #111;
    }
    *{
        text-decoration: none;
    }
    h1 a{
        font-size: 80%;
        display: flex;
    }

